<a style="cursor: pointer;" routerLinkActive="active" class="list-group-item clearfix">
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{ partyMember.name }}</h4>
        <p class="list-group-item-text">{{ partyMember.joinedTime }}</p>
        <p class="list-group-item-text">{{ partyMember.timeInParty }}</p>
        <p class="list-group-item-text">{{ partyMember.lootSharePercent }}</p>
    </div>
    <span class="pull-right">
        <p class="list-group-item-text">{{ partyMember.lootShareSilver }}</p>
    </span>
</a>