<a style="cursor: pointer;" routerLinkActive="active" class="list-group-item clearfix">
    <div class="row">
        <div class="col-sm-3">{{ this.partyMember.playerName }}</div>
        <div class="col-sm-3">{{ this.partyMember.joinedTime }}</div>
        <div class="col-sm-2">{{ this.partyMember.timeInParty }} minute(s)</div>
        <div class="col-sm-2">{{ this.partyMember.percentTimeInParty }}%</div>
        <div class="col-sm-2">{{ this.partyMember.lootShareSilver | number : '1.0-2' }}</div>
    </div>
</a>