.navbar-custom-dark {
    background-color: rgb(211, 211, 211);
}

a {
    color: black;
}

li :hover {
    border: 1px solid blue;
}

li :focus {
    background-color: rgb(211, 211, 211);
    border: 1px solid blue;
}