<nav class="navbar navbar-custom-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a routerLink="/home" style="cursor: pointer;" >Home</a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active">
                    <a routerLink="/tutorial" style="cursor: pointer;" >Tutorial</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/donation" style="cursor: pointer;" >Donation</a>
                </li>
                <img width="40"
                alt="Angular Logo"
                src="../assets/pictures/monchatpref.jpg" />
            </ul>
        
        </div>
    </div>
</nav>