<div class="panel panel-default">
    <div class="panel-heading">Party Members</div>
    <div class="panel-body">
        <div class="rs-list rs-list-hover">
            <div class="rs-list-item fameandkills rs-list-item-md"
                 style="color: rgb(238, 238, 238);">
                <div class="rs-list-item-content">
                    <div class="rs-flex-box-grid rs-flex-box-grid-top rs-flex-box-grid-start">
                        <a style="cursor: pointer; background-color: black; color: white;" class="list-group-item clearfix">
                            <div class="row">
                                <div class="col-sm-3">Player Name</div>
                                <div class="col-sm-3">joinedTime</div>
                                <div class="col-sm-2">timeInParty</div>
                                <div class="col-sm-2">lootSharePercent</div>
                                <div class="col-sm-2">lootShareSilver</div>
                            </div>
                        </a>
                   
                        <app-party-member *ngFor="let partyMemberEl of partyMembers; "
                                          [partyMember]="partyMemberEl">
                        </app-party-member>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>