<div class="row"
     style="padding-bottom: 30px;">

    <div class="col-lg-4"></div>
    <div class="col-lg-5">
        <div class="terminal">
            <input class="custom-terminal" />
        </div>
    </div>
    <div class="col-lg-4"></div>
    <div class="row col-lg-12">
        <div class="card-container">
          <a class="circle-link"
             title="Animations"
             href="https://angular.io/guide/animations"
             target="_blank"
             rel="noopener">
            <img width="40"
                 alt="Angular Logo"
                 src="../assets/pictures/monchatpref.jpg" />
          </a>
        </div>
      </div>
</div>